body {
    background: rgb(77, 148, 255);
    font-family: sans-serif;
}
.carousel{
    width: 60%;
    height: 35vh;
    padding: 0 1rem;
    margin: 230px auto;
    overflow: hidden;
    position: relative;
}
.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(0, 1fr);
    grid-auto-flow: column;
    /* should always be in % */
    grid-auto-columns: 33%;
    gap: 0 1rem;
    transition: all 800ms ease-in-out;

}
.carousel__item{
    width: 100%;
    height: 100%;
    background-color: rgba(29, 118, 250, 0.431);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: rgba(38, 94, 248, 0.76);
}
.next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    color: white;
    top: calc(50% - 20px);
    right: 10px;
}
.prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    color: white;
    top: calc(50% - 20px);
    left: 22px;
    z-index: 1000;
}